* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f01264;
}

.logo {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-bottom: 2rem;
  font-family: 'Righteous', cursive;
  border: 1px solid #f1f1f1;
}

.logo img {
  width: 70px;
  height: 70px;
  user-select: none;
  pointer-events: none;
}

.logo h1 {
  color: white;
  font-size: 44px;
}

i {
  z-index: 1;
  color: white;
  font-size: 40px;
  margin-left: auto;
  margin-right: 5px;
}

.menu-active {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 200px;
  height: 300px;
  text-align: center;
  color: white;
  border: 2px solid white;
  background-color: #f01264;
}

.menu-active p {
  width: inherit;
  height: 70px;
}

.menu-active h2 {
  background-color: #6905b6;
  margin: 7px 3px 15px 3px;
  border: 1px solid white;
  padding: 2px;
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

main {
  font-family: 'Roboto Mono', monospace;
  color: white
}

h1 {
  font-size: 36px;
}

.center {
  text-align: center;
  margin: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 50px;
}

table td {
  padding: 4px;
  border: 1px solid white;
}

table th {
  padding: 4px;
  border: 1px solid white;
}

ul{
  list-style-position: inside;
  border: 2px solid white;
}

ul li {
  padding: 10px;
}
